@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@400;500;700;800&display=swap");

/* à intégré de la manière suivante dans le css:
    font-family: 'Carter One', cursive;

    font-family: 'Montserrat', sans-serif;
    il y a 4 font-weight à la Montserrat: 400, 500, 700, 800
*/


* {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

#gallery {
  background-color: aquamarine;
  display: grid;
  margin: 0;
  padding: 0;
  grid-gap: 10px;
  list-style: none;
}

header {

  background-color: #b44ad9;
  height: 350px;
  width: 100%;
  color: white;
  font-family: "Carter one", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 120px;
  line-height: 185px;
  text-align: center;

  background-color: blueviolet;
  width: 100%;
  color: white;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-family: "Carter One", cursive;
  text-align: center;
  font-size: 120px;
  line-height: 185px;

}

form {
  position: absolute;
  font-size: 30px;
  color: white;
}
form input {
  justify-content: left;
}

footer {
  padding: 10%;
  display: flex;
  background-color: black;
  height: 500px;
  width: 100vw;
}

.msg input {
  width: 150vh;
  height: 30vh;
}
.contact input {
  width: 150vh;
  margin-left: 22px;
}

.submit input {
  justify-content: right;
  width: 20px;
  height: 20px;
}


/* section info avec map + horaires */


#infos {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: white;
}

#carte {
  background-color: #d7c101;
  width: 50vw;
  height: 368px;
  padding: 31px 50px 31px 34px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#carte h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

#horaires {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 31px;
  background-color: #d76701;
  width: 50vw;
  height: 368px;
}

#horaires h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

#horaires h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
